<% if signed_in? %>
  <div class="row">

    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
<% 
=begin 
%>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
<% 
=end 
%>
    </aside>

    <div class="span8">
      <h3>Micropost Feed</h3>
<% 
=begin 
%>
      <%= render 'shared/feed' %>
<% 
=end 
%>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>ラブライブ！！へようこそ</h1>

    <h2>
    hogehogehoge
    </h2>

    <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-large btn-primary' %>
  </div>

<% end %>