<div class="content">
  <div class="button-wrap">
    <!--<button class="button button&#45;&#45;line button&#45;&#45;effect-1">-->
							<!--<span class="morph-shape-button" data-morph-active="M286,113c0,0-68.8,9-136,9c-78.2,0-137-9-137-9S3,97.198,3,62.5C3,33.999,13,12,13,12S72,2,150,2c85,0,136,10,136,10s11,17.598,11,52C297,96.398,286,113,286,113z">-->
								<!--<svg width="100%" height="100%" viewBox="0 0 300 125" preserveAspectRatio="none">-->
                  <!--<path d="M286.5,113c0,0-104,0-136.5,0c-35.75,0-136.5,0-136.5,0s0-39.417,0-52.5c0-12.167,0-48.5,0-48.5s101.833,0,136.5,0c33.583,0,136.5,0,136.5,0s0,35.917,0,48.5C286.5,73.167,286.5,113,286.5,113z"/>-->
                <!--</svg>-->
							<!--</span>-->
      <!--<span class="button__text">Press me</span>-->
    <!--</button>-->

  </div>
  <%= form_for(@guest,remote:true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="input-container">
        <%= f.label :username, "Your Name", class: "input-label" %>
        <div class="input-wrap">
          <%= f.text_field :username %>
                <span class="morph-shape" data-morph-active="M359,70c0,0-59,0-174,0C84,70,9,70,9,70s5-10,5-30c0-16-5-30-5-30s75,0,176,0c115,0,174,0,174,0s-5,14-5,30
    C354,60,359,70,359,70z">
                  <svg width="100%" height="100%" viewBox="0 0 370 80" preserveAspectRatio="none">
                    <path d="M359,70c0,0-59,0-174,0C84,70,9,70,9,70s0-10,0-30c0-16,0-30,0-30s75,0,176,0c115,0,174,0,174,0s0,14,0,30C359,60,359,70,359,70z"/>
                  </svg>
                </span>
        </div>
        <br />
      </div>
      <div class="input-container input-container--indent input-container--space">
        <div class="input-wrap input-wrap--small">
          <%= f.radio_button :sex, "M", checked: true %>
          <i class="fa fa-fw fa-circle"></i>
							<span class="morph-shape" data-morph-active="M251,150c0,71.797-29.203,149-101,149S49,221.797,49,150S78.203,1,150,1S251,78.203,251,150z">
								<svg width="100%" height="100%" viewBox="0 0 300 300" preserveAspectRatio="none">
                  <path d="M281,150c0,71.797-59.203,131-131,131S19,221.797,19,150S78.203,19,150,19S281,78.203,281,150z"/>
                </svg>
							</span>
        </div>
        <%= f.label :sex, "Male", class: "input-label input-label--long" %>
      </div>

      <div class="input-container input-container--indent input-container--space">
        <div class="input-wrap input-wrap--small">
          <%= f.radio_button :sex, "F", checked: true %>
          <i class="fa fa-fw fa-circle"></i>
							<span class="morph-shape" data-morph-active="M251,150c0,71.797-29.203,149-101,149S49,221.797,49,150S78.203,1,150,1S251,78.203,251,150z">
								<svg width="100%" height="100%" viewBox="0 0 300 300" preserveAspectRatio="none">
                  <path d="M281,150c0,71.797-59.203,131-131,131S19,221.797,19,150S78.203,19,150,19S281,78.203,281,150z"/>
                </svg>
							</span>
        </div>
        <%= f.label :sex, "Female", class: "input-label input-label--long" %>
      </div>

      <div class="input-container input-container--indent input-container--space">
        <div class="input-wrap input-wrap--small">
          <input type="checkbox" id="checkbox-1" />
          <i class="fa fa-fw fa-check"></i>
							<span class="morph-shape" data-morph-active="M273,273c0,0-55.8,24-123,24c-78.2,0-123-24-123-24S3,235.3,3,150C3,79.936,27,27,27,27S72,3,150,3c85,0,123,24,123,24s24,38.43,24,123C297,229.646,273,273,273,273z">
								<svg width="100%" height="100%" viewBox="0 0 300 300" preserveAspectRatio="none">
                  <path d="M273,273c0,0-55.8,0-123,0c-78.2,0-123,0-123,0s0-37.7,0-123c0-70.064,0-123,0-123s45,0,123,0c85,0,123,0,123,0s0,38.43,0,123C273,229.646,273,273,273,273z"/>
                </svg>
							</span>
        </div>
        <label class="input-label input-label--long" for="checkbox-1">Video Chat</label>
      </div>

      <div class="">
        <button class="button button--fill button--effect-1">
                <span class="morph-shape-button" data-morph-active="M286,113c0,0-68.8,9-136,9c-78.2,0-137-9-137-9S3,97.198,3,62.5C3,33.999,13,12,13,12S72,2,150,2c85,0,136,10,136,10s11,17.598,11,52C297,96.398,286,113,286,113z">
                  <svg width="100%" height="100%" viewBox="0 0 300 125" preserveAspectRatio="none">
                    <path d="M286,113c0,0-68.8,0-136,0c-78.2,0-137,0-137,0s0-15.802,0-50.5C13,33.999,13,12,13,12s59,0,137,0c85,0,136,0,136,0s0,17.598,0,52C286,96.398,286,113,286,113z"/>
                  </svg>
                  <%= f.submit "", class: "button-find" %>
                </span>
          <span class="button__text">Press me</span>
        </button>
      </div>

  <% end %>

  <!--<h2 class="note">Options:</h2>-->



</div>